@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --secondary: #64748b;
  --border: #e5e7eb;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --secondary: #94a3b8;
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}